.MainProduct {
  display: flex;
  width: 100%;
  height: 650px;
  align-content: flex-start;
  flex-flow: row wrap;
  justify-content: center;

  .TopInfo {
    display: flex;
    width: 75%;
    height: 80%;
    align-self: flex-start;
    align-content: center;
    justify-content: space-evenly;

    .ImageGallery {
      display: flex;
      width: 65%;
      height: 100%;
      background-color: lightgray;
      margin-right: 15px;

      .Gallery {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: lightgray;
        flex-direction: row;

        .sideImages {
          order: 0;
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          width: 8%;
          height: 8%;

          .sideImage {
            margin: 10px 10px 5px 20px;
          }
        }

        #previousPicButton {
          order: 1;
          width: 5%;
          height: 5%;
          align-self: center;
          border-radius: 50%;
          background-color: transparent;
          font-size: large;
          margin-left: 25px;
          border: none;
          outline: none;
        }

        #previousPicButton:hover {
          background-color: rgba($color: white, $alpha: 0.4);
        }

        #previousPicButton:active {
          background-color: rgba($color: white, $alpha: 0.6);
        }

        #MainImage {
          order: 2;
          display: block;
          width: 75%;
          height: 100%;
          object-fit: contain;
          margin: auto;
        }

        #nextPicButton {
          order: 3;
          width: 5%;
          height: 5%;
          align-self: center;
          border-radius: 50%;
          margin-right: 8px;
          background-color: transparent;
          font-size: large;
          border: none;
          outline: none;
        }

        #nextPicButton:hover {
          background-color: rgba($color: white, $alpha: 0.4);
        }

        #nextPicButton:active {
          background-color: rgba($color: white, $alpha: 0.6);
        }
      }
    }

    .InfoStyleEvents {
      display: flex;
      flex-direction: column;
      width: 35%;
      height: 100%;
      margin-right: 25px;
      justify-content: space-evenly;

      a:hover {
        cursor: pointer;
      }

      .NamePrice {
        order: 0;
        width: 100%;

        .NameAndSocial {
          margin-bottom: 10px;

          img:hover {
            cursor: pointer;
          }
        }
      }

      .StyleSelector {
        order: 1;
        width: 90%;
        flex-direction: row wrap;

        #StyleImage {
          width: 20%;
          height: 60px;
          border-radius: 50%;
          border: solid 3px transparent;
          margin: 10px 10px 10px 0px;
        }
        #StyleImage:hover {
          border: solid 3px gray;
          cursor: pointer;
        }
      }

      .SizeQuantityCart {
        order: 2;
        width: 90%;

        #sizes {
          width: 60%;
          height: 40px;
          font-size: 14px;
          padding: 10px;
          float: left;
        }

        #sizes:hover {
          cursor: pointer;
        }

        #quantities {
          width: 30%;
          height: 40px;
          font-size: 14px;
          padding: 10px;
          float: right;
        }

        #quantities:hover {
          cursor: pointer;
        }

        #addToCart {
          width: 100%;
          height: 40px;
          font-size: 14px;
          padding: 10px;
          margin: 20px 10px 10px 0px;
        }
      }
    }
  }

  .BottomDescription {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 75%;
    height: 20%;

    #description {
      justify-content: center;
    }
  }
}

.review {
  border-bottom: 1px black solid;
  margin-top: 12px;
  div {
    margin-bottom: 4px;
  }
}

.clickedRating {
  background-color: gray;
}

.response {
  background-color: #f0f0f0;
  padding: 10px 5px 10px 15px;
}

// related products

.carousel-container {
  display: flex;
  justify-content: center;
}

.related {
  display: flex;
  justify-content: center;
}

.arrow {
  height: 450px;
  width: 50px;
  border: 1px solid;
  background-color: lightgray;
}

.arrow:hover {
  opacity: 75%;
}

.btn-arrow {
  font-size: x-large;
  margin: 0;
  position: relative;
  top: 50%;
  left: 25%;
}

.star-btn {
  font-size: medium;
}

.btn-overlap {
  position: absolute;
  transform: translate(-100%, 0%);
}

.rel-prod-img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.rel-prod-img:hover {
  opacity: 0.75;
}

.add-outfit-container {
  width: 300px;
  height: 450px;
  border: 1px solid;
}

.outfit {
  display: flex;
  justify-content: center;
}

.btn-outfit {
  margin: 0;
  position: relative;
  top: 50%;
  left: 25%;
}

.modal-show-rel-prod {
  display: block;
}

.modal-hide-rel-prod {
  display: none;
}

.modal-main-rel-prod {
  position: fixed;
  background: rgb(172, 160, 160);
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#modal {
  border-collapse: collapse;
  width: 100%;
}

#modal thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

#modal tr:nth-child(even) {
  background-color: #f2f2f2;
}

// ratings, reviews, Q&A

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.modal-show {
  display: block;
}

.modal-hide {
  display: none;
}

.characteristics {
  table-layout: fixed;
  width: 100%;
}

.addReviewField {
  display: block;
}

.warning {
  border: 1px solid red;
  border-radius: 15%;
  padding: 5px;
}

.QAContainer {
  display: flex;
  justify-content: center;
  width: 100%;

  h3 {
    white-space: nowrap;
    overflow: hidden;
  }
  .QASearch {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
  }
  .QASection {
    width: 55%;
  }
  .QAAnswer {
    margin: 2px 0px 10px 0px;
  }
}

.QAEntry {
  display: flex;
  flex-direction: column;
}

@mixin inline-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.QAHeader {
  @include inline-items;
  margin-bottom: 10px;
}
.QAFooter {
  @include inline-items;
}

input:focus {
  outline: none;
}

.QAQHelpful {
  width: 100%;
  @include inline-items;
  justify-content: space-between;
}
.AnswerSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
}
.RRContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.RRSection {
  width: 55%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.reviewsContainer {
  width: 65%;
}

.reviewHeader {
  @include inline-items;
  justify-content: space-between;
}

.ratingDisplay {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  .avg-rating {
    font-size: 3em;
  }

  .avg-rating-star {
    padding-top: 10px;
    margin-left: 6px;
  }
}

.helpfulContainer {
  @include inline-items;
  padding-left: 5px;
  div {
    margin-right: 6px;
  }
}

.bold {
  font-weight: bold;
}

.fs32 {
  font-size: 1.2em;
}

.btn {
  padding: 12px 24px;
  margin: 5px 10px 5px 10px;
  border-radius: 2px;
  border: 1px solid black;
  background-color: #ffffff;
}

.userDate {
  color: #808080;
}

.reviewsBtnRow {
  margin-top: 20px;
  @include inline-items;
}

.sectionTitle {
  font-size: 1.3em;
  margin-bottom: 15px;
  margin-top: 20px;
}
.left-shift {
  margin-right: 6px;
}

.ratingRow > td {
  padding: 0px 10px 6px 0px;
}

.modalTitle {
  font-size: 1.6em;
  margin-top: 12px;
}
.modalSubtitle {
  font-size: 1.3em;
  margin-top: 5px;
}

.textInput {
  width: 80%;
}
