.MainProduct {
  display: flex;
  width: 100%;
  height: 650px;
  align-content: flex-start;
  flex-flow: row wrap;
  justify-content: center;

  .TopInfo {
    display: flex;
    width: 75%;
    height: 80%;
    align-self: flex-start;
    align-content: center;
    justify-content: space-evenly;

    .ImageGallery {
      display: flex;
      width: 65%;
      height: 100%;
      background-color: lightgray;
      margin-right: 15px;

      .Gallery {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: lightgray;
        flex-direction: row;

        .sideImages {
          order: 0;
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          width: 8%;
          height: 8%;

          .sideImage {
            margin: 10px 10px 5px 20px;
          }
        }

        #previousPicButton {
          order: 1;
          width: 5%;
          height: 5%;
          align-self: center;
          border-radius: 50%;
          background-color: transparent;
          font-size: large;
          margin-left: 25px;
          border: none;
          outline: none;
        }

        #previousPicButton:hover {
          background-color: rgba($color: white, $alpha: 0.4);
        }

        #previousPicButton:active {
          background-color: rgba($color: white, $alpha: 0.6);
        }

        #MainImage {
          order: 2;
          display: block;
          width: 75%;
          height: 100%;
          object-fit: contain;
          margin: auto;
        }

        #nextPicButton {
          order: 3;
          width: 5%;
          height: 5%;
          align-self: center;
          border-radius: 50%;
          margin-right: 8px;
          background-color: transparent;
          font-size: large;
          border: none;
          outline: none;
        }

        #nextPicButton:hover {
          background-color: rgba($color: white, $alpha: 0.4);
        }

        #nextPicButton:active {
          background-color: rgba($color: white, $alpha: 0.6);
        }
      }
    }

    .InfoStyleEvents {
      display: flex;
      flex-direction: column;
      width: 35%;
      height: 100%;
      margin-right: 25px;
      justify-content: space-evenly;

      a:hover {
        cursor: pointer;
      }

      .NamePrice {
        order: 0;
        width: 100%;

        .NameAndSocial {
          margin-bottom: 10px;

          img:hover {
            cursor: pointer;
          }
        }
      }

      .StyleSelector {
        order: 1;
        width: 90%;
        flex-direction: row wrap;

        #StyleImage {
          width: 20%;
          height: 60px;
          border-radius: 50%;
          border: solid 3px transparent;
          margin: 10px 10px 10px 0px;
        }
        #StyleImage:hover {
          border: solid 3px gray;
          cursor: pointer;
        }
      }

      .SizeQuantityCart {
        order: 2;
        width: 90%;

        #sizes {
          width: 60%;
          height: 40px;
          font-size: 14px;
          padding: 10px;
          float: left;
        }

        #sizes:hover {
          cursor: pointer;
        }

        #quantities {
          width: 30%;
          height: 40px;
          font-size: 14px;
          padding: 10px;
          float: right;
        }

        #quantities:hover {
          cursor: pointer;
        }

        #addToCart {
          width: 100%;
          height: 40px;
          font-size: 14px;
          padding: 10px;
          margin: 20px 10px 10px 0px;
        }
      }
    }
  }

  .BottomDescription {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 75%;
    height: 20%;

    #description {
      justify-content: center;
    }
  }
}

.ratingsContainer {
  float: left;
  width: 30%;
}
.reviewsContainer {
  float: right;
  width: 50%;
}

.review {
  border-bottom: 1px black solid;
}

.widgetContainer {
  display: flex;
  justify-content: center;
}

.questionSearch {
  width: 70%;
}

.question {
  float: left;
}
.helpful {
  float: right;
}

.clickedRating {
  background-color: gray;
}

.response {
  background-color: #f0f0f0;
  padding: 2px 5px 10px 15px;
}

.carousel-container {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  flex-wrap: nowrap;
  flex-flow: row nowrap;
  flex-basis: auto;
}

.related-products-title {
  display: grid;
  justify-items: center;
}

.btn-overlap {
  position: absolute;
  transform: translate(-100%, 0%);
}
