.MainProduct {
  display: flex;
  width: 100%;
  height: 650px;
  align-content: flex-start;
  flex-flow: row wrap;
  justify-content: center;

  .TopInfo {
    display: flex;
    width: 75%;
    height: 80%;
    align-self: flex-start;
    align-content: center;
    justify-content: space-evenly;

    .ImageGallery {
      width: 65%;
      height: 100%;
      background-color: lightgray;
      margin-right: 15px;

      #MainImage {
        display: block;
        width: 80%;
        height: 100%;
        object-fit: contain;
        margin: auto;
      }
    }

    .InfoStyleEvents {
      display: flex;
      flex-direction: column;
      width: 35%;
      height: 100%;
      margin-right: 25px;
      justify-content: center;

      .NameAndPrice {
        order: 0;
        width: 100%;
        height: 33%;
      }

      .StyleSelector {
        order: 1;
        width: 100%;
        flex-direction: row wrap;

        #StyleImage {
          width: 20%;
          height: 60px;
          border-radius: 50%;
          border: solid 3px transparent;
          margin: 10px 10px 10px 0px;
        }
        #StyleImage:hover {
          border: solid 3px gray;
          cursor: pointer;
        }
      }

      .SizeQuantityCart {
        order: 2;
        width: 100%;

        #sizes {
          width: 60%;
          height: 40px;
          font-size: 14px;
          padding: 10px;
          float: left;
        }

        #sizes:hover {
          cursor: pointer;
        }

        #quantities {
          width: 30%;
          height: 40px;
          font-size: 14px;
          padding: 10px;
          float: right;
        }

        #quantities:hover {
          cursor: pointer;
        }

        #addToCart {
          width: 100%;
          height: 40px;
          font-size: 14px;
          padding: 10px;
          margin: 20px 10px 10px 0px;
        }
      }
    }
  }

  .BottomDescription {
    display: flex;
    align-self: flex-end;
    width: 75%;
    height: 20%;
    justify-content: center;

    #description {
      justify-self: center;
    }
  }
}

.ratingsContainer {
  float: left;
  width: 30%;
}
.reviewsContainer {
  float: right;
  width: 50%;
}

.review {
  border-bottom: 1px black solid;
}

.widgetContainer {
  display: flex;
  justify-content: center;
}

.questionSearch {
  width: 70%;
}

.question {
  float: left;
}
.helpful {
  float: right;
}

.clickedRating {
  background-color: gray;
}

.response {
  background-color: #f0f0f0;
  padding: 2px 5px 10px 15px;
}

.carousel-container {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  flex-wrap: nowrap;
  flex-flow: row nowrap;
  flex-basis: auto;
}

.related-products-title {
  display: grid;
  justify-items: center;
}

.btn-overlap {
  position: absolute;
  transform: translate(-100%, 0%);
  // background-color: gray;
}

.rel-prod-img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

// .star-btn {
//   color: gold;
// }
